Importing modules

In [38]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

Dataset Visualization

In [39]:
data = pd.read_csv("train.csv")
data.head()

,label,pixel0,pixel1,pixel2,pixel3,pixel4,pixel5,pixel6,pixel7,pixel8,...,pixel774,pixel775,pixel776,pixel777,pixel778,pixel779,pixel780,pixel781,pixel782,pixel783
0,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,4,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [40]:
data=np.array(data)
m,n=data.shape
print(m,n)
print("We have "+str(m) +" written digits with a total of "+str(n-1)+" pixels")

42000 785
We have 42000 written digits with a total of 784 pixels

Dataset Shuffling

In [41]:
data=np.array(data)
np.random.shuffle(data)

Dataset Splitting

In [42]:
k = int(m*(1/3))
data_test = data[0:k].T
data_train = data[k:].T

Input and Output

In [43]:
#output
Y_test = data_test[0]
Y_train = data_train[0]

#input
X_test = data_test[1:n]
X_train = data_train[1:n]

#input normalization
X_test = X_test / 255.
X_train = X_train / 255.

Parameters Initialization

In [44]:
def params_init():
    W1, W2 = np.random.rand(10,784) , np.random.rand(10,10)
    b1, b2 = np.random.rand(10,1) , np.random.rand(10,1)
    return W1-0.5,b1-0.5,W2-0.5,b2-0.5

ReLU Function

In [46]:
def Relu(Z):
    return np.maximum(Z,0)

def Relu_deriv(Z):
    return Z>0

Softmax Function

In [47]:
def softmax(Z):
    return np.exp(Z)/np.sum(np.exp(Z))